<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head th:replace="_parts/head :: head">
  <title></title>
</head>
<body>

<header th:replace="_parts/header :: default"></header>

<main class="container">
    <section class="section">
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <p class="subtitle">案件一覧</p>
          </div>
        </div>
        <div class="level-right">
          <p class="level-item">
            <a class="button is-primary" th:href="@{/projects/register}">
              案件を追加
            </a>
          </p>
        </div>
      </nav>
      <table class="table is-narrow is-striped is-hoverable is-fullwidth">
        <thead>
        <tr>
          <th>案件名</th>
          <th>クライアント</th>
          <th>ステータス</th>
          <th>担当者</th>
          <th>提示金額</th>
          <th>受注金額</th>
          <th>期間</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projectList.list()}">
          <td th:text="${project.projectName()}">案件名</td>
          <td th:text="${project.clientName()}">クライアント</td>
          <td th:text="${project.status()}">ステータス</td>
          <td th:text="${project.picName()}">担当者</td>
          <td th:text="${project.offerAmount()}">提示金額</td>
          <td th:text="${project.contractAmount()}">受注金額</td>
          <td th:text="${project.scheduleAsText()}">期間</td>
        </tr>
      </table>
    </section>
</main>

<footer th:replace="_parts/footer :: default"></footer>

</body>
</html>
